<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {{!-- Link to Bootstrap --}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  {{!-- Link to Font Awesome --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {{!-- Link to stylesheet --}}
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">

  <style>
@import url('https://fonts.googleapis.com/css?family=Muli');
</style>

  <title>Bucketlistr</title>
</head>

<body>
  {{{body}}}
</body>

</html>
