<!DOCTYPE html>
<html>
  <!-- NAV BAR -->
  <nav class="navbar">
    <!-- TITLE -->
    {{!--
    <a class="navbar-brand" href="#">Bucketlistr</a> --}}
    <!-- USER -->
    <button type="button" class="btn btn-secondary btn-lrg ml-auto" id="signInBtn">
      <span class="fa fa-user-circle" aria-hidden="true"></span> Sign In
    </button>
  </nav>
<head>
  <meta charset="utf-8">
  {{!-- Link to Bootstrap --}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  {{!-- Link to Font Awesome --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {{!-- Link to stylesheet --}}
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">

  <style>
@import url('https://fonts.googleapis.com/css?family=Muli');
</style>

  <title>Bucketlistr</title>
</head>

<body>
  {{{body}}}
</body>


{{!-- START FOOTER --}}
<div class="navbar navbar-dark bg-dark fixed-bottom" id="pageFooter">
  <div class="container-fluid">
    <div class="row mr-auto">
      <div class="col">

<small> <b> BucketListr | 2018</b> </small>  
  </div>
    </div>

    <div class="row ml-auto">
  <div class="col ml-auto">
    <small> Created by Salem Bryant, Ian Kimble, Brooke Mitchell, and Andrew Schlegel for Penn LPS Coding Bootcamp </small>
        </div>
      </div>
  </div>
</div>
</html>



<!-- START SIGN IN MODAL -->

{{!-- <div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!-- MODAL CONTENT HOLDER -->
    <div class="modal-content">
      <!-- MODAL HEADER -->
      <div class="modal-header">
        <!-- MODAL TITLE -->
        <h5 class="modal-title" id="modalLabel">Create an Account</h5>
        <!-- CLOSE BUTTON -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- MODAL BODY -->
      <div class="modal-body">
        <!-- INPUT FIELDS -->
        <label for="inputFirstName">First Name</label>
        <input type="name" class="form-control" id="inputFirstNameReg" placeholder="Brooke">
        <label for="inputLastName">Last Name</label>
        <input type="name" class="form-control" id="inputLastNameReg" placeholder="Mitchell">
        <label for="inputUserName">Username</label>
        <input type="name" class="form-control" id="inputUserNameReg" placeholder="brookeusername">
        <label for="inputPassword">Password</label>
        <input type="text" class="form-control" id="inputPasswordReg" placeholder="*************">
        <label for="inputConfirmPassword">Confirm Password</label>
        <input type="text" class="form-control" id="inputConfirmPasswordReg" placeholder="*************">
      </div>

      <!-- MODAL FOOTER -->
      <div class="modal-footer">
        <!-- SUBMIT BUTTON -->
        <button type="submit" class="btn btn-primary" id="submitReg" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>
</div> --}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
</html>