{{!-- CREATE --}}
<div id="create">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h2>Bucket List!</h2>
                <form class="clearfix mb-4" action="POST">
                    <div class="form-group">
                        <label for="item-text">Item Text</label>
                        <input type="text" id="item-text" class="form-control" aria-describedby="item-text" placeholder="Enter Item Text">
                    </div>
                    <button id="submit" class="btn btn-primary float-right" onClick="location.href = '/view'">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>