{{!-- CREATE --}}
<div id="create">
  <div class="container-fluid">
    <div class="row">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h2 id="createTitle">Create Your Bucket List!</h2>

                {{!-- START CREATE FORM --}}
                <form class="clearfix mb-4">

                    {{!-- TITLE LIST --}}
                    <div class="form-group">
                        <label for="item-text">Bucket List Title</label>
                        <input type="text" id="item-text" class="form-control" aria-describedby="title" placeholder="Things I Want To Do!">
                    </div>

                    {{!-- DESCRIPTION --}}
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" aria-describedby="description" placeholder="Tell us a little bit about your list! What inspired you to create this list? Why/how did you decide what things you want to do?"></textarea>
                    </div>

                    {{!-- SELECT CATEGORY --}}
                    <div class="form-group">
                        <label for="category">Select Category</label>
                        <select class="form-control" id="category">
                            <option>Family</option>
                            <option>Food and Drink</option>
                            <option>Friendships</option>
                            <option>General</option>
                            <option>Outdoor Adventures</option>
                            <option>Travel</option>
                        </select>
                    </div>

                    {{!-- SELECT TIME FRAME --}}
                    <div class="form-group">
                        <label for="duration">Select Duration</label>
                        <select class="form-control" id="duration">
                            <option>1 Month</option>
                            <option>6 Months</option>
                            <option>1 Year</option>
                            <option>5 Years</option>
                            <option>10 Years</option>
                            <option>15 Years</option>
                            <option>20 Years</option>
                            <option>25 Years</option>
                            <option>Forever</option>
                        </select>
                        </div>


            <div id="inputFields">
                <div class="form-group">
                        <label for="toDoListItem">Add Items</label>
                        <input type="text" id="toDoListItem" class="form-control" placeholder="Climb a mountain">
                    </div>
            </div>  
            <button type="button" class="btn addRow" id="optionBtn">Add More</button>
   
<br>
                <button type="submit" class="btn btn-secondary float-right submit action-button submitBtn" onClick="location.href = '/view'" id="submitBtn">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
