{{!--
<!-- START SIGN IN MODAL -->
<div class="modal fade" role="dialog" aria-labelledby="signInModalLabel">
    <div class="modal-dialog" role="document">
        <!-- MODAL CONTENT HOLDER -->
        <div class="modal-content">
            <!-- MODAL HEADER -->
            <div class="modal-header">
                <!-- MODAL TITLE -->
                <h5 class="modal-title" id="modalLabel">Create an Account</h5>
                <!-- CLOSE BUTTON -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- MODAL BODY -->
            <div class="modal-body">
                <!-- INPUT FIELDS -->
                <label for="inputFirstName">First Name</label>
                <input type="name" class="form-control" id="inputFirstNameReg" placeholder="Brooke">
                <label for="inputLastName">Last Name</label>
                <input type="name" class="form-control" id="inputLastNameReg" placeholder="Mitchell">
                <label for="inputUserName">Username</label>
                <input type="name" class="form-control" id="inputUserNameReg" placeholder="brookeusername">
                <label for="inputPassword">Password</label>
                <input type="text" class="form-control" id="inputPasswordReg" placeholder="*************">
                <label for="inputConfirmPassword">Confirm Password</label>
                <input type="text" class="form-control" id="inputConfirmPasswordReg" placeholder="*************">
            </div>

            <!-- MODAL FOOTER -->
            <div class="modal-footer">
                <!-- SUBMIT BUTTON -->
                <button type="submit" class="btn btn-primary" id="submitReg" data-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>
</div> --}}

<!-- MODAL BODY -->
<div class="modal-body">
    <!-- INPUT FIELDS -->
    <label for="inputFirstName">First Name</label>
    <input type="name" class="form-control" id="inputFirstNameReg" placeholder="Brooke">
    <label for="inputLastName">Last Name</label>
    <input type="name" class="form-control" id="inputLastNameReg" placeholder="Mitchell">
    <label for="inputUserName">Username</label>
    <input type="name" class="form-control" id="inputUserNameReg" placeholder="brookeusername">
    <label for="inputPassword">Password</label>
    <input type="text" class="form-control" id="inputPasswordReg" placeholder="*************">
    <label for="inputConfirmPassword">Confirm Password</label>
    <input type="text" class="form-control" id="inputConfirmPasswordReg" placeholder="*************">
</div>

<!-- USER -->
<button type="button" class="btn btn-secondary btn-lrg ml-auto">
    <a class="fa fa-user-circle" aria-hidden="true" class="google-btn" href="/auth/google">Sign In with Google+</a>
</button>