<div class="container">
  <div class="row">
    <div class="col">
      <h3 id="viewListTitle">View Lists</h3>
      
<div class="dropdown">

 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>

<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Family</a>
    <a class="dropdown-item" href="#">Food and Drink</a>
    <a class="dropdown-item" href="#">Friendships</a>
    <a class="dropdown-item" href="#">General</a>
    <a class="dropdown-item" href="#">Outdoor Adventures</a>
    <a class="dropdown-item" href="#">Travel</a>
  </div>
</div>


    </div>
  </div>



  <div class="row">
    <div class="col">
      <ul id="item-list" class="list-group">
        {{#each items}}
        <li data-id="{{this.id}}" class="list-group-item">
          <a href="item/{{this.id}}">{{this.text}}</a>
          {{!-- <button class="btn btn-danger float-right delete">ｘ</button> --}}
        </li>
        {{/each}}
      </ul>

    </div>
  </div>
  <button type="button" class="btn btn-secondary btn-lg" onClick="location.href = '/create'" id="optionBtn">Create
    Another List ✏️</button>

</div>


<script type='text/javascript'>

  (function () {
    if (window.localStorage) {
      if (!localStorage.getItem('firstLoad')) {
        localStorage['firstLoad'] = true;
        window.location.reload();
      }
      else
        localStorage.removeItem('firstLoad');
    }
  })();

</script>