.list-group-item {
  line-height: 2.5;
}

#content {
  margin-top: 10%;
}

body {
  background-image: url("https://images.pexels.com/photos/450062/pexels-photo-450062.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  font-family: "Muli", sans-serif;
}

#signInBtn {
  background-color: rgba(20, 13, 51, 0.3);
  color: white;
}

#title {
  /* font-family: 'Concert One', sans-serif; */
  color: white;
}

#optionBtn, #dropdownMenuButton {
  background-color: rgba(20, 13, 51, 0.3);
  color: white;
}

#pageFooter {
  margin-top: 5%;
  background-color: rgba(20, 13, 51, 0.8) !important;
  color: grey;
}

#submitBtn {
  margin-bottom: 5%;
  background-color: rgba(20, 13, 51, 0.3);
}

#googleBtn {
  background-color: #a10000;
  background-image: url('./images/google-plus.png');
  background-repeat: no-repeat;
  background-size: 18%;
  padding-left: 8%;
}

.profileBtn {
  text-decoration: none;
  list-style: none;
}

.profileLink {
  color: white;
}

#createTitle, #viewListTitle {
  color: white;
}

.linkHome {
color: rgba(255, 255, 255, 0.7);
}

.linkHome:hover {
  color:  rgba(179, 177, 191, 0.7);

  }

  #addMargin {
    margin-top: 2%;
  }

  .card {
    margin-right: 1.5%;
  }

  #listLink {
    color: rgba(255, 255, 255, 0.7);
  }

  .scrollToTop {
    display:none;
    width:100%;
    margin:0 auto;
    position:fixed;
    bottom:20px;
    right:10px;	
  }
  .scroll {
    position:absolute;
    right:20px;
    bottom:20px;
    background:#b2b2b2;
    background:rgba(178,178,178,0.7);
    padding:5px;
    text-align: center;
    margin: 0 0 2% 0;
    cursor:pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s; 		
  }
  .scroll:hover {
    background:rgba(178,178,178,1.0);
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s; 		
  }
  .scroll:hover .fa {
    padding-top:-10px;
  }
  .scroll .fa {
    font-size:30px;
    margin-top:-5px;
    margin-left:1px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s; 	
  }

  #addBottomMargin {
    margin-bottom: 7%;
  }