.list-group-item {
  line-height: 2.5;
}

#content {
  margin-top: 10%;
}

body {
  background-image: url("https://images.pexels.com/photos/450062/pexels-photo-450062.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  font-family: "Muli", sans-serif;
}

#signInBtn {
  background-color: rgba(20, 13, 51, 0.3);
  color: white;
}

#title {
  /* font-family: 'Concert One', sans-serif; */
  color: white;
}

#optionBtn, #dropdownMenuButton {
  background-color: rgba(20, 13, 51, 0.3);
  color: white;
}

#pageFooter {
  margin-top: 5%;
  background-color: rgba(20, 13, 51, 0.8) !important;
  color: grey;
}

#submitBtn {
  background-color: rgba(20, 13, 51, 0.3);

}

#createTitle, #viewListTitle {
  color: white;
}

.linkHome {
color: rgba(255, 255, 255, 0.7);
}

.linkHome:hover {
  color:  rgba(179, 177, 191, 0.7);

  }

  #addMargin {
    margin-top: 2%;
  }

  .card {
    margin-right: 1.5%;
  }

  #listLink {
    color: rgba(255, 255, 255, 0.7);
  }

  .scrollToTop {
    display:none;
    width:100%;
    margin:0 auto;
    position:fixed;
    bottom:20px;
    right:10px;	
  }
  .scroll {
    position:absolute;
    right:20px;
    bottom:20px;
    background:#b2b2b2;
    background:rgba(178,178,178,0.7);
    padding:5px;
    text-align: center;
    margin: 0 0 2% 0;
    cursor:pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s; 		
  }
  .scroll:hover {
    background:rgba(178,178,178,1.0);
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s; 		
  }
  .scroll:hover .fa {
    padding-top:-10px;
  }
  .scroll .fa {
    font-size:30px;
    margin-top:-5px;
    margin-left:1px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s; 	
  }

  #addBottomMargin {
    margin-bottom: 7%;
  }


  /* <div class="card mb-3" style="max-width: 20rem;">
  <div class="card-header">
    <a id="listLink" href="item/{{this.id}}">{{this.text}}</a>
  </div>
  <div class="card-body">
    <h6 class="card-title"><strong>{{this.description}}</strong></h6>
    <p class="card-text">Category: {{this.category}}</p>
    <p class="to-do-items"> {{#each item}}
      <li>{{toDoListItem}}</li>
      {{/each}}</p>
  </div>
</div> */

.card {
  /* background-color: rgba(35, 29, 63, 0.9) !important; */
background-image: url("./images/linedpaper.png");
min-width: 250px;
}

#listLink {
  color: rgb(71, 62, 110);
}
.card-title {
  color: rgb(63, 53, 107);
}

.card-text, #createTitle {
  color: rgb(71, 62, 110);

}

#createBg{
  margin-bottom: 5%;
  background-image: url("./images/linedpaper.png");
padding: 5%;
color: rgb(71, 62, 110);

}